<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/index/index.css">
<title>My website</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>

</style>
</head>
<body>
    <script src="/index/index.js"></script>

    <div class="header">
        <h1>Node.js guide</h1>
        <p>A website where you can post facts about Node.js!</p>
        
      </div>
    
    <div class="navbar">
        <% if(currentUser.id == 0){ %>
            <a href="/login">Login</a>
            <a href="/signup">Sign Up!</a>
            <% } %>
            
            <a class="right">Hey <%= currentUser.username%>!</a>
            <% if(currentUser.id != 0){ %>
              <a href="/post" class="right">Post</a>
              <a href="/content" class="right">Content</a>
              <a href="/logout">Logout</a>
            <% } %>
    </div>
    <% if(currentUser.id != 0){ %>
        <div class="post">
            <% if(data.length){ for(var i = 0; i< data.length; i++) {%>
                <br></br>
            <div class="post">
              <h1 class="title"><%= (i+1) %>. <%=data[i].title%></h1>
              <h5 class="description"><%= data[i].description%></h5>
              <p class="content"><%= data[i].content%></p>
    
            </div>
            <% } }else{ %>
            <div>
              <td>No data ever existed.</td>
            </div>
            <% } %>
        </div>
        
          
    <% } %>

</body>
</html>
